#  _     ___        ___  ___    _   ___  
# \ \  /  ) )  __  | |  | |  /_| | ( ( ) 
#  \_\/  /_/_ (_() _)_) _)_)   |_|  /_/
# 
# VORON v2.4r2 CONFIGURATION
# (Using a modified and customized version of the Klippain framework.)


# ====== HARDWARE COMPONENTS

# ------ PRINTER KINEMATICS
[include config/kinematics/corexy.cfg]

# ------ AXIS DEFINTIONS & DRIVERS
[include config/hardware/axis.cfg]

# ------ EXTRUDER
[include config/hardware/extruder.cfg]

# ------ GENERAL HARDWARE DEFINTIONS
[include config/hardware/heated_bed.cfg]
[include config/hardware/probes/beacon_virtual.cfg]
[include config/hardware/fans.cfg]
[include config/hardware/thermistors.cfg]
[include config/hardware/accelerometers/adxl_beacon.cfg]

# ------ MOTOR AUTO-CONFIGURATION
[include config/hardware/motor_autotune.cfg]

# ------ LIGHTS AND LEDS
# [include config/hardware/lights/daylight_sticks.cfg]
# [include config/hardware/lights/neopixel_caselight.cfg]
# [include config/hardware/lights/status_leds.cfg]


# ====== KLIPPER SOFTWARE COMPONENTS

# ------ BED MESH
[include config/software/bed_mesh.cfg]

# ------ FIRMWARE RETRACTION
[include config/software/firmware_rectraction.cfg]

# ------ TILTING
[include config/software/tilting.cfg]

# ------ PLUGINS
[include K-ShakeTune/*.cfg]

# ------ CORE COMPONENTS
[include config/machine.cfg]
[include variables.cfg]
[include mcu.cfg]


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.5843280662304804,
#*# 	  1.9243760001838366,
#*# 	  0.6990340774416148,
#*# 	  0.27795652308687097,
#*# 	  0.41837073145747145,
#*# 	  0.30729068956798705,
#*# 	  -0.4702333485336287,
#*# 	  -0.34883463387156155,
#*# 	  0.36890815935503013,
#*# 	  0.24113546135488007
#*# model_domain = 1.873943092036989e-07,1.9427355255106614e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 22.909509
#*# model_offset = 0.00000
