[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "inductive_virtual"
variable_startprint_actions: "bed_soak", "chamber_soak", "tilt_calib", "extruder_heating", "purge", "clean", "z_offset", "bedmesh", "primeline"
gcode:

# Beacon probe definition also include the probe management macro directly from here
[include ../../../macros/base/probing/generic_probe.cfg]

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_6B649CDF5154364134202020FF153926-if00

x_offset: 0
y_offset: 23

mesh_main_direction: x
mesh_runs: 4
speed: 10

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0

[resonance_tester]
accel_chip: beacon
probe_points: 90, 90, 20
